<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">Promedio General</th>
                <th>7.4</th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <div class="col-lg-2">
        <div class="form-group mt-4">
            <button routerLink="/listadoPersona/" type="submit" class="btn btn-danger btn-lg">Regresar
                <i class="bi bi-arrow-return-left"></i>
            </button>
        </div>
    </div>
</div>