<div class="container mt-5">

<form [formGroup]="form" (ngSubmit)="agregarPersona()">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="text" formControlName="cedula"  class="form-control form-control-lg"  maxlength="10" minlength="10" required pattern="[0-9]+">

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="nombre">Nombres:</label>
                <input type="text" formControlName="nombre" class="form-control form-control-lg"  >

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="nombre">Apellidos:</label>
                <input type="text" formControlName="apellido"  class="form-control form-control-lg" >

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="asignatura">Asignatura:</label>
                <input type="text" formControlName="asignatura"  class="form-control form-control-lg">

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="nota1">Nota 1:</label>
                <input type="text" formControlName="nota1"  class="form-control form-control-lg">

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="nota2">Nota 2:</label>
                <input type="text" formControlName="nota2"  class="form-control form-control-lg">

            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
                <label for="promedio">Promedio:</label>
                <input type="text" formControlName="promedio"  class="form-control form-control-lg" id="Promedio">

            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Agregar
                    <i class="bi bi-person-plus-fill"></i>
                </button>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group mt-4">
                <button routerLink="/listadoPersona/" type="submit" class="btn btn-danger btn-lg">Regresar
                    <i class="bi bi-arrow-return-left"></i>
                </button>
            </div>
        </div>

    </div>
</form>
    <br>
    <br>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Asignatura</th>            
            <th scope="col">Nota 1</th>
            <th scope="col">Nota 2</th>
            <th scope="col">Promedio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let persona of listPersona let i=index">

            <th scope="row">{{i + 1}}</th>
            <td>{{persona.cedula}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.asignatura}}</td>
            <td>{{persona.nota1}}</td>
            <td>{{persona.nota2}}</td>
            <td>{{persona.promedio}}</td>
            <td>
                
                <span class="cursor text-success" >
                    <i routerLink="/editarPersona/" class="bi bi-pencil-square"></i>
                </span>
                <span class="cursor text-danger offset-2" >
                    <i class="bi bi-file-earmark-x-fill"></i>
                </span>
            </td>
            
          </tr>
         
        </tbody>

    </table>
    
</div>